body {
  margin: 0;
  padding: 0;
  background-color: #18A1DC;
}

h1{
  color: white;
}

.center-container {
  left: 15%;
  position: relative;
  width: 70%;
  height: 100vh; 
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;

}

.box {
  position: absolute;
  top: 40%;
  left: 28%;
  transform: translate(5%, -55%); 
  width: 40%; 
  height: 55%; 
  cursor: pointer;
}